.header {
    background-color: #46a8f8;
    height: auto;
    width: 100%;
      /*box-shadow: 10px 10px 5px #a8a8a8;*/
    }
    
.container1{
    background: none repeat scroll 0 0 #ddd;
    height: 708px;
}

.page1_content{
    margin: 50px auto 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.level-1-container{
    /*background: none repeat scroll 0 0 #ddd;*/
    height: 708px;
}



.view-container .correct-popover, .view-container .incorrect-popover, .view-container .instruction-popover {
    display: none;
    padding: 20px;
    position: absolute;
    width: 500px;
}
.view-container .correct-popover .alert-icon, .view-container .incorrect-popover .alert-icon, .view-container .instruction-popover .alert-icon {
    float: left;
    margin: 5px 14px 0 5px;
}
.view-container .correct-popover .popover-content, .view-container .incorrect-popover .popover-content, .view-container .instruction-popover .popover-content {
    float: left;
    width: 380px;
}
.view-container .correct-popover .popover-content h4, .view-container .incorrect-popover .popover-content h4, .view-container .instruction-popover .popover-content h4 {
    font-family: open_sansregular;
    margin-bottom: 5px;
}
.view-container .correct-popover .popover-content > div, .view-container .incorrect-popover .popover-content > div, .view-container .instruction-popover .popover-content > div {
    font-family: open_sanslight;
}

.intro .level-1-container, .intro .level-2-container, .intro .level-3-container, .intro .level-4-container, .recap .level-1-container, .recap .level-2-container, .recap .level-3-container, .recap .level-4-container {
    background: none repeat scroll 0 0 #ddd;
    height: 708px;
}

.level-1-container, .level-2-container, .level-3-container, .level-4-container {
    margin: 0 auto;
    position: relative;
    width: 78%;
    height: auto;
}

.profiles, .level-2-pie-charts {
    background: none repeat scroll 0 0 #ddd;
    float: left;
    min-height: 627px;
    width: 302px;
}
.profiles ul, .level-2-pie-charts ul {
    margin-left: 16px;
}
.profiles-header {
    background-color: #eee;
    box-shadow: 5px 6px 6px -7px;
    color: #333;
    font-family: open_sanssemibold,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 21px;
    line-height: 24px;
    margin: 0 0 40px;
    padding: 16px;
}

.tree {
    background: none repeat scroll 0 0 #fff;
    float: left;
    height: 600px;
    position: relative;
    width: 810px;
    background-color:#ffffe9;
}
.tree h2 {
    color: #333;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding: 16px 0 25px 207px;
}
.tree .tree-bg {
    left: 160px;
    position: absolute;
    top: 104px;
}

.tree .popover {
    max-width: 450px;
}
.tree:before, .tree:after {
    content: "";
    display: table;
    line-height: 0;
}
.tree:after {
    clear: both;
}
.tree .correct-popover, .tree .incorrect-popover, .tree .instruction-popover {
    left: 114px;
    top: 214px;
}

.node {
    color: #333;
    height: 148px;
    position: absolute;
    text-align: center;
    width: 148px;
}
.node .total {
    display: block;
    font-family: open_sansbold;
    font-size: 21px;
    font-weight: 700;
    margin: 22px auto 0;
}
.node .node-label {
    bottom: -9px;
    color: #333;
    display: block;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
    position: relative;
}
.node .node-label.side {
    left: 100px;
    top: -50px;
}

.node.over {
    border: 2px dashed #000;
}

.level-1 .branch .circle {
    border: 9px solid #ddd;
}








.responsive-image{
        height:auto;
        width:100%;
    }
    
#square3 ul li span {display: none; background-color: #000; border-radius: 70px;
                color: #fff;
                left: 80px;
                padding: 10px 10px;
                position: absolute;
                top: 40px;
                width:200px;
                z-index: 100;}
#square3 ul li:hover span{display: block;}

.bar_back{
    height: 20px;
    background-color: #46a8f8;;
    width:100%;
    height:auto;
    /*border-radius: 5px;*/
  
}
.select_state{
    width:20%;
}

.map{
    width:98%;
    height:auto;
    background: #FFFFFF;
}

select {
    display: inline;
}

.blue{
    background-color: '#7cb5ec';
}

#graphCountry, #graphState{
    display:block;
}

.cent{
    padding: 8px 0px 0px 8px;
}

.wid{
    width:50%
}

.gridCenter{
    padding: 0% 25%;
}

/* for grid ,scroll table body and not table header  */
.gridTable {
    overflow-y: scroll;
    height: 300px;
    width: 48%;
    position: absolute; /* imp */
}
.gridTable tr{
    width:100%;
}
.gridTable tr td{
    width:100%;
}
th{
    width:100%;
}

.img-circle {
    border-radius: 500px;
}
.circle {
    border-radius: 50%;
    height: 83px;
    margin: 0 auto;
    width: 83px;
    border: 9px solid #ddd;
}

.level-1 .leaf .circle {
    border: 9px solid #606;
}
.level-2 .non-institution .circle {
    border: 9px solid #333;
}
.level-2 .labor-force .circle {
    border: 9px solid #0f673a;
}
.level-2 .not-labor-force .circle {
    border: 9px solid #8ec859;
}
.level-2 .employed .circle {
    border: 9px solid #0d5b92;
}
.level-2 .unemployed .circle, .level-2 .friction .circle, .level-2 .structure .circle, .level-2 .cyclic .circle {
    border: 9px solid #70caf2;
}

.non-institution .labor-force {
    left: -167px;
    top: 69px;
}
.non-institution .labor-force .employed {
    left: -100px;
    top: 117px;
}
.non-institution .labor-force .unemployed {
    left: 107px;
    top: 117px;
}
.non-institution .labor-force .unemployed .friction {
    left: -100px;
    top: 144px;
}
.non-institution .labor-force .unemployed .structure {
    left: 30px;
    top: 144px;
}
.non-institution .labor-force .unemployed .cyclic {
    left: 165px;
    top: 144px;
}
.non-institution .not-labor-force {
    left: 167px;
    top: 69px;
}

.icon-leaf {
    background-position: -48px -120px;
}










/* xxxxxxx  */

@media only screen and (min-width:150px) and (max-width:800px)
{
    #container{
        width:100%;
    }
}