{% extends 'base.html' %}
{% block title %}Analyze{% endblock %}

{% block level %}Analyze{% endblock %}
{% block content %}
    
        <ul class="nav nav-tabs">
            <li class="active"><a href="#profile" data-toggle="tab">Map</a></li>
            <li class=""><a href="#graph" data-toggle="tab">Graph</a></li>
            <li class=""><a href="#datagrid" data-toggle="tab">DataGrid</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="profile">
                
                <br>
                {% include "map.html"%}
          </div>
          <div class="tab-pane fade " id="graph" class="row">
                <br>
                {% include "analyze-graph.html" %}
          </div>
           <div class="tab-pane fade style="overflow: hidden"" id="datagrid">
               <br>
                {% include 'analyze-grid.html' %}
            </div>
        </div>
        <br><br><br><br>
        
  
 
{% endblock %}