<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Pearson{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
    <!--<link rel="stylesheet" href="styles/main.css"-->
</head>
<body>
    
    
    <script src="js/bootstrap.js"></script>
    <div class="view-container">
    
    
    <div class="level-1-container"><!-- parent container starts here  -->
    
        {% block header %}
            <div class="header">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4">
                                <div style="float: left;color: #fff;padding:5px 0px 0px 0px;">
                                    <h3 style="float: left;">Score &nbsp;: </h3>
                                    <div style="float: left;height:2%;width:auto"><h3> &nbsp;5%</h3></div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div style="font-size: medium;color: #fff;padding:0px 0px 0px 190px;">
                                    <h2 >Unemployment</h2>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-4">
                        <span style="color: #fff;float:right;padding:25px 0px 0px 0px;">
                            <img src="/static/img/female.jpeg" height="30px" width="30px">
                            Welcome : Username
                         </span>
                    </div>
                </div>

            </div>
            <br>
            <br>
        {% endblock %}
       
        {% block content %}
        
       
        {% endblock %}
    
    </div> <!-- parent container ends here -->
    </div>
</body>
 
</html>